#createDish {
    min-height: calc(100vh - 338px);
    padding: 30px 0;
    background-color: $green;

    h2 {
        text-align: center;
        color: $yellow;
        text-shadow: 2px 2px 2px #264653;
    }

    .create_container {
        margin: auto;
        padding: 10px;
        width: 60%;
        background-color: $yellow;
        border-radius: 20px;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);

        label {
            font-size: $text_big;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
            width: 80%;
            border: none;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);

            &#prezzo {
                background-image: url("/storage/images/euro.png");
                background-position: 90% 50%;
                background-size: 5% 70%;
                background-repeat: no-repeat;
            }
        }

        button {
            margin-top: 25px;
            padding: 10px 15px;
            width: 50%;
            color: $light;
            background-color: $blue;
            border: solid 2px $red;
            border-radius: 10px;
            -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
            -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
            box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);

            &:hover {
                color: $blue;
                background-color: $red;
                border: solid 2px $blue;
            }
        }
    } // fine create_container
} // fine createDish

// VERSIONE SMALL ED EXTRA SMALL DEVICES
@media all and (max-width: 767px) {
    #createDish {
        .create_container {
            width: 100%;

            label {
                font-size: $text_medium;
            }

            input {
                width: 100%;
            }

            button {
                padding: 3px;
            }
        }
    }
}
