#register {
    min-height: calc(100vh - 338px);
    padding: 30px 0;
    background-color: $green;

    h2 {
        text-align: center;
        color: $yellow;
        text-shadow: 2px 2px 2px #264653;
    }

    .register_container {
        margin: auto;
        padding: 10px;
        width: 60%;
        background-color: $yellow;
        border-radius: 20px;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);

        label {
            font-size: $text_big;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
            width: 80%;
            border: none;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        }

        input.file {
            background-color: white;
        }

        .checkbox_container {
            li {
                width: 140px;

                .control {
                    position: relative;
                    margin: 10px;
                    margin-bottom: 15px;
                    padding-top: 1px;
                    padding-left: 25px;
                    width: 110px;
                    text-align: left;
                    font-size: $text_big;
                    font-weight: normal;
                    color: $blue;
                    display: block;
                    cursor: pointer;

                    input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }
                }

                .control_indicator {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    background: white;
                    border: solid 1px $blue;
                    border-radius: 5px;
                }
                .control:hover input ~ .control_indicator,
                .control input:focus ~ .control_indicator {
                    background: $red;
                }

                .control input:checked ~ .control_indicator {
                    background: #2a9d8f;
                }

                .control:hover input:not([disabled]):checked ~ .control_indicator,
                .control input:checked:focus ~ .control_indicator {
                    background: #2a9d8f;
                }

                .control input:disabled ~ .control_indicator {
                    background: $light;
                    opacity: 0.6;
                    pointer-events: none;
                }

                .control_indicator:after {
                    box-sizing: unset;
                    content: "";
                    position: absolute;
                    display: none;
                }

                .control input:checked ~ .control_indicator:after {
                    display: block;
                }

                .control-checkbox .control_indicator:after {
                    left: 6px;
                    top: 2px;
                    width: 5px;
                    height: 10px;
                    border: solid #ffffff;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }

                .control-checkbox input:disabled ~ .control_indicator:after {
                    border-color: #7b7b7b;
                }

                .control-checkbox .control_indicator::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4.444rem;
                    height: 4.018rem;
                    margin-left: -1.3rem;
                    margin-top: -1.3rem;
                    background: #e76f51;
                    border-radius: 3rem;
                    opacity: 0.6;
                    z-index: 99999;
                    transform: scale(0);
                }

                @keyframes s-ripple {
                    0% {
                        transform: scale(0);
                    }
                    20% {
                        transform: scale(1);
                    }
                    100% {
                        opacity: 0;
                        transform: scale(1);
                    }
                }

                @keyframes s-ripple-dup {
                    0% {
                        transform: scale(0);
                    }
                    30% {
                        transform: scale(1);
                    }
                    60% {
                        transform: scale(1);
                    }
                    100% {
                        opacity: 0;
                        transform: scale(1);
                    }
                }

                .control-checkbox input + .control_indicator::before {
                    animation: s-ripple 250ms ease-out;
                }

                .control-checkbox input:checked + .control_indicator::before {
                    animation-name: s-ripple-dup;
                }
            }
        } // fine blocco checkbox

        button {
            margin-top: 25px;
            padding: 10px 15px;
            width: 50%;
            color: $light;
            background-color: $blue;
            border: solid 2px $red;
            border-radius: 10px;
            -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
            -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
            box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);

            &:hover {
                color: $blue;
                background-color: $red;
                border: solid 2px $blue;
            }
        }
    } // finre register_container
} // fine register

// VERSIONE SMALL ED EXTRA SMALL DEVICES
@media all and (max-width: 767px) {
    #register {
        .register_container {
            label {
                font-size: $text_medium;
            }

            input {
                width: 98%;
            }

            width: 90%;

            .checkbox_container {
                li {
                    width: 110px;

                    .control {
                        font-size: $text_medium;
                    }

                    .control_indicator {
                        top: 5px;
                    }
                }
            }
        }
    }
}

// VERSIONE LARGE DEVICES
@media all and (min-width: 768px) and (max-width: 1099px) {
    #register {
        .register_container {
            width: 70%;
        }
    }
}
